<!DOCTYPE html>
<html lang="en">

    <head>
        {{>headerlink}}
    </head>

    <body>
        <!-- navbar  -->

        {{>navbar}}

        <!-- main header  -->
        <section class="container">
            <div class="row justify-conten-center">
                <div class="col-md-5 col-12 main-header-right">
                    <figure>
                        <img src="images/about-img.webp"
                            class="about-img img-fluid" title="Yasir" alt />
                    </figure>
                </div>
                <div class="col-md-7 col-12 main-header-left">
                    <p>Welcome to My WeatherApp</p>
                    <h1>I AM A<span> MERN STACK DEVELOPER </span></h1>
                    <a href="/weather"><button type="button">Check
                            Know</button></a>
                </div>
            </div>
        </section>
        {{!-- footer --}}

        {{>footer}}
    </body>
</html>